<div class="side-strip side-strip--left">
  <div class="strip-line"></div>

  <a href="https://github.com/luka-tsivadze?tab=repositories" target="_blank" class="strip-icon">
    <img src="Icons/Home/github.svg" alt="GitHub" />
  </a>

  <a href="https://www.linkedin.com/in/luka-tsivadze-9a8388275/" target="_blank" class="strip-icon">
    <img src="Icons/Home/linkedin.svg" alt="LinkedIn" />
  </a>
</div>

<div class="side-strip side-strip--right">
  <div class="strip-line"></div>
  <div class="strip-line2"></div>
  <a href="mailto:lukacivadze6@gmail.com" class="email">
lukacivadze6@gmail.com
  </a>
</div>
<footer>
  <p>&copy;  Built with Angular. By Luka Tsivadze</p>
</footer>