
<div class="preview-card">
  <div class="corner tl"></div>
  <div class="corner br"></div>

  <div class="preview-window">
    <div class="code-lines">
      <div class="code-line">&lt;app-animator</div>
      <div class="code-line code-line--accent">&nbsp;[value]="title"</div>
      <div class="code-line">&nbsp;[delay]="80"&gt;</div>
      <div class="code-line code-line--purple">@Component({{ '{' }}...{{ '}' }})</div>
      <div class="code-line">$color: #1D9E75;</div>
    </div>

    <div class="cube-wrap">
      <div class="cube">
        <div class="face face--front"></div>
        <div class="face face--back"></div>
        <div class="face face--left"></div>
        <div class="face face--right"></div>
        <div class="face face--top"></div>
        <div class="face face--bottom"></div>
      </div>
    </div>
  </div>

  <div class="preview-footer">
    <span class="preview-name">PLAYGROUND</span>
    <span class="badge badge--wip">IN PROGRESS</span>
  </div>
</div>