@keyframes spin {
  0%   { transform: rotate(0deg);  opacity:1;}
  100% { transform: rotate(360deg); opacity:1; }
}

.gear {
  position: absolute;
  top: 10%;
  left: 10%;
  opacity:1;
 
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.tooth {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2px;
  z-index: 3;
  transform-origin: center center;
}

.gear-body {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  z-index: 1;
}

.gear-hollow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
}